# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the database schema as having been generated.
rails/db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
rails/vendor/* linguist-vendored
rails/config/credentials/*.yml.enc diff=rails_credentials
rails/config/credentials.yml.enc diff=rails_credentials
